[bench basic]

  [breadth]
  template forall rounds rounds node node quorum hset # d=1 k=4
  template forall rounds . exists quorum hset . forall node node # d=1 k=3       

  [finisher]
  template forall rounds rounds quorum hset . exists node # d=2 k=6
  
[bench auto] 

  [breadth]
  auto # d=1 k=6 mvars=5 e=1                                                                         

  [finisher] 
  auto # d=2 k=10 mvars=6 e=1