[bench basic]

  [breadth]
  template forall node node quorum pset pset rounds values steps # d=1 k=6                     

  [finisher]
  template forall node node quorum pset pset rounds values steps # d=2 k=10
  
[bench auto] 

  [breadth]
  auto # d=1 k=6 mvars=5 e=1                                                                         

  [finisher] 
  auto # d=2 k=10 mvars=6 e=1